<div ng-if="realog === 'yes'">
<div id="login" class="projects">
    
    <a href="/dashboard" class="title">Nosotros</a>
    <div class="meniu">
        <div class="leftleft">
            <a href="/dashboard">
                <span class="material-icons">keyboard_backspace</span> Back
            </a>
        </div>
        <div class="centiecentie">Anthos ADMIN</div>
        <div class="rightright"></div>
    </div>
        
    <!-- App -->
    <form>
        <!-- About -->
        <center><small>About</small></center>
        <textarea rows="4" placeholder="Acerca" ng-model="studioSettings.About" ng-show="lang != 'eng'"></textarea>
        
        
        <br><br>

        
        
        
        </form>
        <!-- Save Button -->
        <form>
            <button id="btnLogin" ng-click="saveUrl()">Save</button>
        </form>
        
    </div>
</div>
<progress id="uploader" class="off"></progress>
</div>
<div ng-if="realog != 'yes'" ng-init="tologin()"></div>