<style>

.unete .module.left{
    position: sticky;
    top: 96px;
}
.unete .module.left .title{
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 61.04px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}
.unete .module.left .subtitle{
    width: 75%;
    font-family: Calibre;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
}
.unete .module.left .formtitle{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
    font-family: Calibre;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.unete .module.left .formtitle.noline{
    border-top: 0px;
}
.unete .form .row{
    flex-wrap: wrap;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 8px;
}
.unete .form input{
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 8px 0px;
    display: flex;
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 120%;
    /* or 15px */

    text-transform: uppercase;
}
.unete .form .row.one input{
    width: 100%;
}
.unete .form .row.two input{
    width: calc(50% - 8px);
}
.unete .form .row.three input{
    width: calc(33.33% - 11px);
}
.unete .form .row.text span{
    width: 75%;
    display: flex;
    margin: 16px 0px;
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}
.unete .form .row.text div{
    width: 75%;
    display: flex;
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}
.unete .form .row.text div input{
    vertical-align: middle;
    display: inline-block;
}
.unete .form .row.text div label{
    margin-right: 16px;
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
}
.unete .module.right .subtitle{
    width: 75%;
    font-family: Calibre;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 32px;
}
.unete .module.right .subtitle span{
    font-family: Calibre;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}
.unete .pics{
    outline: none;
    border: none;
    padding: 8px 0px;
    display: flex;
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 16px;
    gap: 16px;
}
.unete .pics div{
    width: calc(50% - 8px);
    
}
.unete .pics div>div>img{
    opacity: 0;
    pointer-events: none;
    width: 100%;
}
.unete .pics div>div{
    width: 100%;
}
.unete .pics div>span{
    margin-top: 8px;
    display: block;
    font-family: Calibre;
    font-style: normal;
    font-weight: normal;
    font-size: 12.8px;
    line-height: 120%;
    /* or 15px */

    text-transform: uppercase;
}

.bgplace{
    background-color: #f2f2f2;
    background-image: url(img/upup.svg);
    background-position: center center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}



#modules.unete .module {
    width: 50%;
    float: left;
}

.pic-frente{
    background-image: url(img/image38.png);
    background-size: cover;
}
.pic-completo{
    background-image: url(img/image39.png);
    background-size: cover;
}
.pic-perfil{
    background-image: url(img/image40.png);
    background-size: cover;
}
.ifpic{
    background-size: cover;
}


@media only screen and (max-width: 768px) {


    .unete .module.left{
        position: relative;
        top: 0px;
    }

    #modules.unete .module {
        width: 100%;
        float: left;
    }

    .unete .module.left .title{
        font-size: 48.83px;
        line-height: 90%;
    }

    .unete .form .row.one input{
    width: 100%;
}
    .unete .form .row.two input{
        width: 100%;
    }
    .unete .form .row.three input{
        width: 100%;
    }

}




</style>

<ng-include ng-controller="headerController" src="'header/header.view.html'"></ng-include>




<div id="wrapper">
    <div id="modules" class="unete">
        <form>
            <div class="module left">
                <div class="title">Únete</div>
                <div class="subtitle">If you are interested in becoming a model for in the park, please fill out the form below and send it to us.<br><br>
                Please note that we do not accept walk-ins at the agency, all applications must be made online.
                </div>
                <div class="formtitle">
                Datos Generales
                </div>
                <div class="form">
                <div class="row two">
                    <input type="text" placeholder="Nombre" spellcheck="false" ng-model="pro.Name">
                    <input type="text" placeholder="Apellido" spellcheck="false" ng-model="pro.LastName">
                </div>
                <div class="row three">
                    <input type="text" placeholder="País" spellcheck="false" ng-model="pro.Country">
                    <input type="text" placeholder="Estado" spellcheck="false" ng-model="pro.State">
                    <input type="text" placeholder="Ciudad" spellcheck="false" ng-model="pro.City">
                </div>
                <div class="row three">
                    <input type="text" placeholder="Email" spellcheck="false" ng-model="pro.Email">
                    <input type="text" placeholder="Telefono" spellcheck="false" ng-model="pro.Phone">
                    <input type="text" placeholder="Age" spellcheck="false" ng-model="pro.Age">
                </div>
                <div class="row one">
                    <input type="text" placeholder="Pasatiempos" spellcheck="false" ng-model="pro.Hobbies">
                </div>
                <div class="row two" ng-if="pro.Age > 4 && pro.Age < 18">
                    <input type="text" placeholder="Nombre Tutor Legal" spellcheck="false" ng-model="pro.TutorName">
                    <input type="text" placeholder="Apellido Tutor Legal" spellcheck="false" ng-model="pro.TutorLastName">
                </div>
                <div class="row two" ng-if="pro.Age > 4 && pro.Age < 18">
                    <input type="text" placeholder="Correo Tutor Legal" spellcheck="false" ng-model="pro.TutorEmail">
                    <input type="text" placeholder="Telefono Tutor Legal" spellcheck="false" ng-model="pro.TutorPhone">
                </div>
                <div class="row text">
                    <span>¿Estás actualmente con contrato con alguna agencia o has tenido contratos en el pasado?</span>
                    <div>
                    <input type="radio" id="male" name="gender" value="male" spellcheck="false" ng-model="pro.Contracts">
                    <label for="male">Yes</label>
                    <input type="radio" id="female" name="gender" value="female" spellcheck="false" ng-model="pro.Contracts">
                    <label for="female">No</label>
                    </div>
                </div>
                </div>
                <div class="formtitle noline">
                Medidas
                </div>
                <div class="form">
                <div class="row three">
                    <input type="text" placeholder="Altura" spellcheck="false" ng-model="pro.Height">
                    <input type="text" placeholder="Cintura" spellcheck="false" ng-model="pro.Waist">
                    <input type="text" placeholder="Cadera" spellcheck="false" ng-model="pro.Hip">
                </div>
                </div>
            </div>
            <div class="module right">
                <div class="subtitle">
                <span>
                    Fotos
                </span>
                    Please send clear pictures of yourself, which have been taken in natural light. We prefer untouched pictures, in which you look natural. Please look straight into the camera, and take pictures of your side, your profile and please also send a full body shot. They can be taken with a phone, and do not have to be professional.
                </div>
                <div class="pics">
                <div>
                    <div class="bgplace pic-frente"><img src="img/Rectangle1.png"></div>
                    <span>Frente</span>
                </div>
                <style>
                    label.wfix{
                        width: calc(50% - 8px);
                    }
                    label.wfix>div{
                        width: 100% !important;
                    }
                </style>
                <input type="file" id="thumb" placeholder="hola" style="display:none"  custom-on-change="uThumbnail">
                    <label for="thumb" class="wfix">
                        <div>
                            <div class="bgplace pic-place" id="frente"><img src="img/Rectangle1.png"></div>
                        </div>
                    </label>
                </div>
                <div class="pics">
                <div>
                    <div class="bgplace pic-completo"><img src="img/Rectangle1.png"></div>
                    <span>Cuerpo Completo</span>
                </div>
                <input type="file" id="thumbTwo" placeholder="hola" style="display:none"  custom-on-change="uThumbnailTwo">
                    <label for="thumbTwo" class="wfix">
                        <div>
                            <div class="bgplace pic-place" id="cuerpo"><img src="img/Rectangle1.png"></div>
                        </div>
                    </label>
                </div>
                <div class="pics">
                <div>
                    <div class="bgplace pic-perfil"><img src="img/Rectangle1.png"></div>
                    <span>Perfil</span>
                </div>
                <input type="file" id="thumbThree" placeholder="hola" style="display:none"  custom-on-change="uHeader">
                    <label for="thumbThree" class="wfix">
                        <div>
                            <div class="bgplace pic-place" id="perfil"><img src="img/Rectangle1.png"></div>
                        </div>
                    </label>
                </div>
                <div class="form-submit" ng-click="newP()">Enviar Solicitud</div>
            </div>
        </form>
    </div>
</div>

<ng-include ng-controller="footerController" src="'footer/footer.view.html'"></ng-include>